<div ng-controller="LoginCtrl">
	<div class="col-xs-4">
		<span>Connexion</span>
		<form ng-submit="submit()">
			<input value="{{user.name}}" type="text">
			<input value="{{user.password}}" type="password">
			<button class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
